@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Thin.ttf');
  font-style: italic;
  font-weight: 300;
}

h2 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Lato';
  font-weight: 400;

  font-size: 1.3rem;
}

svg {
  width: 3rem;
  height: 3rem;
  transition: 0.2s;
}

button {
  border: none;

  &:hover svg {
    fill: crimson;
  }
}

input,
input:focus,
input::placeholder {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.3rem;
  background-color: inherit;
  outline: none;
  border: none;
  color: black;
}

input[type='date'] {
  display: block;
  width: 50% !important;
}

textarea,
textarea:focus,
textarea::placeholder {
  resize: none;
  background-color: inherit;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.3rem;
  border: none;
  outline: none;
  color: black;
  text-align: center;
}
