$background-color-lt: #f5f5f5;

$border-color-lt: #18181b;

$component-color-big-lt: #fafafa;
$component-color-small-lt: #e5e5e5;
$component-color-small-2-lt: #f3f1f1;

$shadow-color-lt: #3f3f46;

$todo-input-color: lightblue;

$color-good: lightseagreen;
$color-bad: crimson;
