.project {
  width: 100%;

  @include respond(tab-land) {
    width: 33%;
  }

  &__head {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    & > * {
      display: inline-block;
      font-size: 1.5rem;
      background-color: inherit;
    }
  }

  &__description {
    text-align: center;
    width: 100%;
  }

  & > *:not(:last-child) {
    border-bottom: 1px solid $border-color-lt;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__edit {
    background-color: inherit;
  }

  &__delete {
    background-color: inherit;
  }

  &--edit {
    & > *:not(:last-child) {
      width: 100%;
      border-bottom: 1px solid $border-color-lt;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  &__head--edit {
    input {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  &__title--edit,
  &__title--edit::placeholder {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__description--edit {
    width: 100% !important;
  }

  &__check:hover > svg {
    fill: $color-good;
  }

  &__edit:hover > svg {
    fill: $color-good;
  }
}

.chosen {
  background-color: coral;
}

.shaking {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
