.projects {
  background-color: $component-color-big-lt;
  box-shadow: 0rem 1rem 0.5rem rgba($shadow-color-lt, 0.3);

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.3rem;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__list {
    width: 100%;
    height: 80vh;
    overflow-y: auto;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__project {
    background-color: $component-color-small-lt;

    display: grid;
    grid-template-rows: 4rem 4rem 4rem;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;

    padding: 1rem;

    border-radius: 0.3rem;

    box-shadow: 0rem 0.5rem 0.5rem rgba($shadow-color-lt, 0.3);
  }

  &__add-btn {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $component-color-big-lt;

    svg {
      width: 4rem;
      height: 4rem;
    }

    &:hover > svg {
      fill: $color-good;
    }
  }
}
