.todo {
  display: grid;
  grid-template-columns: 60% 1fr min-content;
  justify-items: center;
  align-items: center;

  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  border-radius: 0.3rem;

  background-color: $component-color-small-lt;

  &__title {
    text-align: left;
    width: 100%;
  }

  &:nth-child(odd) {
    background-color: $component-color-small-lt;
  }

  &:nth-child(even) {
    background-color: $component-color-small-2-lt;
  }

  &__expand {
    background-color: inherit;
  }

  &__expand:hover {
    svg {
      fill: $color-good;
    }
  }

  &__return {
    background-color: inherit;
  }

  &__delete {
    background-color: inherit;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &--edit {
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: grid;
    grid-template-columns: 60% 1fr min-content;
    justify-items: center;

    background-color: inherit;
    border-radius: 0.3rem;

    & > * {
      width: 100%;
    }

    & > * input:focus,
    & > * input {
      width: 80%;

      background-color: inherit;
      border: none;
      outline: none;
      color: black;

      text-align: center;
    }

    & > * input::placeholder {
      color: black;
    }
  }

  &__title--edit::placeholder,
  &__title--edit:focus {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__due-date--edit {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__controls--edit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > * {
      background-color: inherit;
    }
  }

  &__check:hover > svg {
    fill: $color-good;
  }

  &__return:hover > svg {
    fill: $color-bad;
  }
}
