.todos {
  background-color: $component-color-big-lt;
  box-shadow: 0rem 1rem 0.5rem rgba($shadow-color-lt, 0.3);

  padding: 2rem;

  border-radius: 0.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-land) {
    width: 90vw;
  }

  @include respond(tab-port) {
    width: 100vw;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include respond(tab-land) {
      height: auto;
      height: 35vh;
    }
  }

  &__editing {
    width: 100%;
    height: 80vh;
    background-color: antiquewhite;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;

    &-btn {
      background-color: $component-color-big-lt;
      height: 5rem;

      svg {
        width: 4rem;
        height: 4rem;
      }

      &:hover > svg {
        fill: $color-good;
      }
    }
  }
}

.todos__add-btn:hover img {
  background-color: $color-good;
}
