.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  padding: 2rem;

  border-radius: 0.3rem;

  background-color: $component-color-small-lt;

  &:nth-child(even) {
    background-color: $component-color-small-2-lt;
  }

  &__expand {
    background-color: inherit;
  }

  &__delete {
    background-color: inherit;
  }

  &--big {
    height: 14rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr min-content;
    justify-items: center;

    background-color: $todo-input-color;

    & > * h2 {
      margin-bottom: 1rem;
    }

    & > * {
      width: 100%;
    }

    & > * input:focus,
    & > * input {
      width: 80%;

      background-color: $todo-input-color;
      border: none;
      outline: none;
      color: black;

      text-align: center;
    }

    & > * input::placeholder {
      color: black;
    }
  }

  &__title--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__description--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    input {
      height: 3rem;
    }
  }

  &__due-date--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__controls--big {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      background-color: $todo-input-color;
    }
  }

  &__check:hover > svg {
    fill: $color-good;
  }

  &__expand:hover > svg {
    fill: $color-good;
  }
}
